/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */
body {
  background-color: yellow;
}


.background_color_element {
  animation: pulse 5s infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: #EFF304;
  }
  100% {
    background-color: #E4B01D;
  }
}


p {
}

h1 {
	color: black;
	text-align:center;
}

img {
  max-width: 100%;
}

.position_context {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: inherit;
}

.img_element {
  position: absolute;
  opacity: .9;
  mix-blend-mode: multiply;
  left: 5px;
  bottom: 10px;
  top: 1px;
}

.animation1 {
  animation: img_position1 5s infinite alternate;
}

.animation2 {
  animation: img_position2 8s infinite alternate;
}

.animation3 {
  animation: img_position3 3s infinite alternate;
}

.animation4 {
  animation: img_position4 8s infinite alternate;
}

.animation5 {
  animation: img_position5 5s infinite alternate;
}

.animation6 {
  animation: img_position6 3s infinite alternate;
}

@keyframes img_position1 {
  0% {
    transform: translate(9px);
  }
  100% {
    transform: translate(-9px) rotate(5deg);
  }
}

@keyframes img_position2 {
  0% {
    transform: translate(5px, 4px);
  }
  100% {
    transform: translate(-5px);
  }
}

@keyframes img_position3 {
  0% {
    transform: translate(2px);
  }
  100% {
    transform: translate(-2px);
  }
}

@keyframes img_position4 {
  0% {
    transform: translate(2px);
  }
  100% {
    transform: translate(-2px);
  }
}

@keyframes img_position5 {
  0% {
    transform: translate(3px);
  }
  100% {
    transform: translate(-3px);
  }
}

@keyframes img_position6 {
  0% {
    transform: translate(5px);
  }
  100% {
    transform: translate(-5px);
  }
}
